<!-- ABOUT -->
<section class="section-wrapper">
	<div class="content">
		<div class="u-center-elements">
			<h2 class="title title--size-2 title--color-4">dhobi ghat: imersão e empatia</h2>
			<div class="column-paragraph">
				<p class="paragraph"><em>Dhobi Ghat</em> é um dos poucos lugares do mundo em que os sentimentos e emoções emergem em um ritmo tão complexo que merece ser mostrado para todos. <em>Dhobi Ghat</em> é uma área murada, pobre, onde as pessoas vivem e trabalham em um compasso insano, lavando e secando para os hotéis, restaurantes e marcas mais luxuosas de Mumbai. Eles se esforçam para servir uma realidade que nunca será a deles. Eles não existem além do muro; dentro, eles sobrevivem. É assim que floresce um sentimento tão forte de comunidade dentro das fronteiras de <em>Dhobi Ghat</em>.</p>
				<p class="paragraph">A concepção do projeto <em>Dhobi Ghat Undisclosed</em> teve como objetivo retratar o cotidiano das famílias <em>dhobi</em>. O que desejávamos era construir uma experiência de imersão que despertasse o sentido de presença nas pessoas que nunca estiveram lá. Utilizamos a tecnologia de vídeo 360º para fazer a captura de imagem e as tecnologias Web para a sua publicação.</p>
				<p class="paragraph">O roteiro do projeto foi desenvolvido com inspiração no modo de documentário observativo, proposto pelo teórico Bill Nichols. De acordo com o autor, esse tipo de documentário é aquele em que “olhamos para dentro da vida no momento em que ela é vivida. Os atores sociais interagem uns com os outros, ignorando os cineastas”, ou seja, busca capturar a realidade tal qual ela é — ou aquela que aparenta aos nossos sentidos. Para isso, devemos evitar qualquer manipulação e interferência no momento da captura dos vídeos, perseguindo a naturalidade da situação como se a câmera não estivesse presente.</p>
				<p class="paragraph">Quando definimos o tema, sabíamos que esse conteúdo seria especial para as pessoas que nunca haviam colocado os pés naquele ambiente, que não conheciam nem de longe a realidade de uma casta inferior na Índia. A próxima etapa do projeto é investigar critérios de experiência do usuário nessas plataformas, coletando evidências sobre o que foi bom e o que não funcionou do jeito esperado, para que possamos, então, melhorar ainda mais os projetos de vídeo 360º e realidade virtual como a grande máquina de emoções e empatia.</p>
			</div>
		</div>
	</div>
</section>
<!-- END ABOUT -->
