<!-- BEST PRACTICES -->
<section class="section-wrapper section-wrapper--color-4">
	<div class="content">
		<div class="u-center-elements">
			<h2 class="title" id="melhores-praticas">Melhores práticas</h2>
		</div>
		<ul class="content--list">
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">quebra da quarta parede</h3>
					<p class="paragraph u-color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus augue orci, nec lacinia elit porttitor id. Nulla facilisi. Aenean feugiat diam sit amet eros auctor blandit. Curabitur vel ex faucibus, gravida sem ac, bibendum leo. Aenean laoreet tellus erat.</p>
				</a>
			</li>
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">quebra da quarta parede</h3>
					<p class="paragraph u-color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus augue orci, nec lacinia elit porttitor id. Nulla facilisi. Aenean feugiat diam sit amet eros auctor blandit. Curabitur vel ex faucibus, gravida sem ac, bibendum leo. Aenean laoreet tellus erat.</p>
				</a>
			</li>
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">quebra da quarta parede</h3>
					<p class="paragraph u-color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus augue orci, nec lacinia elit porttitor id. Nulla facilisi. Aenean feugiat diam sit amet eros auctor blandit. Curabitur vel ex faucibus, gravida sem ac, bibendum leo. Aenean laoreet tellus erat.</p>
				</a>
			</li>
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">quebra da quarta parede</h3>
					<p class="paragraph u-color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus augue orci, nec lacinia elit porttitor id. Nulla facilisi. Aenean feugiat diam sit amet eros auctor blandit. Curabitur vel ex faucibus, gravida sem ac, bibendum leo. Aenean laoreet tellus erat.</p>
				</a>
			</li>
		</ul>
	</div>
</section>
<!-- END BEST PRACTICES -->