<!-- BEST PRACTICES -->
<section class="section-wrapper section-wrapper--color-4">
	<div class="content">
		<div class="u-center-elements">
			<h2 class="title" id="melhores-praticas">Melhores práticas</h2>
		</div>
		<ul class="content--list">
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">duração das cenas</h3>
					<p class="paragraph u-color-white">Os vídeos 360 devem ter duração mais longas do que o formato tradicional. Deve-se evitar cenas curtas e jump cut. A audiência deverá ter um tempo adequado para explorar a cena para se envolver com a narrativa. Em nossas experiências optamos por uma montagem com cenas de 30 segundos de duração.</p>
				</a>
			</li>
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">transição entre cenas</h3>
					<p class="paragraph u-color-white">Os vídeos 360 devem proporcionar uma transição suave e fluida entre as cenas. Deve-se evitar o corte seco entre as cenas para que a audiência não sofra com vertigem e desorientação espacial. Em nossas experiências optamos por uma edição com fade in e fade ou na transição entre as cenas.</p>
				</a>
			</li>
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">movimento da câmera</h3>
					<p class="paragraph u-color-white">Ao capturar a imagem, deve-se evitar movimentos bruscos com a câmera. No caso de vídeo 360, principalmente se assistido por meio de equipamentos de realidade virtual, a audiência poderá sentir vertigem se a câmera se movimentar pela cena. Em nosso projeto, optamos por deixar a câmera fixa em um tripé capturando as imagens ao seu redor. Também pode-se utilizar um slider de baixa velocidade.</p>
				</a>
			</li>
			<li class="col-6-12">
				<a href="#">
					<div class="media-object media-object--play">
						<img src="{{ "img/examples/example-1.jpg" | prepend: page.baseurl }}" alt="" />
					</div>
					<h3 class="title title--size-3">qualidade da imagem</h3>
					<p class="paragraph u-color-white">A qualidade da imagem é um fator principal no quesito de imersão, mas também um dos desafios na transmissão de conteúdos na Web. Em nosso projeto, nós usamos uma imagem com uma resolução de 4k no momento da captura, o que traz uma qualidade mínima para um projeto que utilize video 360.</p>
				</a>
			</li>
		</ul>
	</div>
</section>
<!-- END BEST PRACTICES -->
