<!-- CODE -->
<section  class="section-wrapper section-wrapper--color-4">
	<div class="content">
		<div class="u-center-elements">
			<h2 id="usando" class="title">Usando o player</h2>
		</div>
			<h3 class="title title--size-3">Adicione o seguinte código no seu HMTL:</h3>
			<div class="highlight-js">
				<pre><code class="html">&lt;head&gt;<br/>  &lt;script type=&#x201d;text/javascript&#x201d; src=&#x201d;https://cdn.jsdelivr.net/gh/clappr/clappr@latest/dist/clappr.min.js&#x201d;&gt;&lt;/script&gt;<br/>&lt;/head&gt;</code></pre>
			</div>
			<h3 class="title title--size-3">Agora, crie o player</h3>
			<div class="highlight-js">
				<pre><code>&lt;body&gt;<br/>  &lt;div id=&#x201d;player&#x201d;&gt;&lt;/div&gt;<br/>  &lt;script&gt;<br/>    var player = new Clappr.Player({source: &#x201c;http://your.video/here.mp4&#x201d;, parentId: &#x201c;#player&#x201d;});<br/>  &lt;/script&gt;<br/>&lt;/body&gt;</code></pre>
			</div>
		</div>
	</div>
</section>
<!-- END CODE -->