<!-- CREDITS -->
<section class="section-wrapper section-wrapper--type-2">
	<div class="content">
		<div class="u-center-col">
			<div class="col-10-12">
				<div class="u-center-elements">
					<h2 id="creditos" class="title title--color-3">Créditos &amp; Agradecimentos</h2>
				</div>
				<p class="paragraph u-margin-11">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis libero vitae diam facilisis, quis sodales sem elementum. Vivamus eget lorem ante. Morbi quis ligula finibus, lobortis diam id, eleifend metus. Quisque mollis purus et sem rhoncus rhoncus. Phasellus quis mi sit amet arcu ultricies mollis eget sed justo.</p>
				<h3 class="title title--size-4 title--color-3 u-bottom">// parceiros</h3>
				<ul class="sponsors-list">
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-ceweb.svg" | prepend: page.baseurl }}" alt="ceweb" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-puc.png" | prepend: page.baseurl }}" alt="puc-sp" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-mumbai.png" | prepend: page.baseurl }}" alt="university of mumbai" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-tokyo.png" | prepend: page.baseurl }}" alt="the university of tokyo" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-samsung.png" | prepend: page.baseurl }}" alt="samsung" /></li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% include footer.html %}
<!-- END CREDITS -->