<!-- CREDITS -->
<section class="section-wrapper section-wrapper--type-2">
	<div class="content">
		<div class="u-center-col">
			<div class="col-10-12">
				<div class="u-center-elements">
					<h2 id="creditos" class="title title--color-3">Créditos &amp; Agradecimentos</h2>
				</div>
				<p class="paragraph">
				Este projeto foi executado pelo Centro de Estudos sobre Tecnologias Web (<a href="http://ceweb.br/">Ceweb.br</a>) e apoiado pelo Núcleo de Informação e Coordenação do Ponto BR (<a href="http://nic.br/">NIC.br</a>) e pelo Comitê Gestor da Internet no Brasil (<a href="http://cgi.br/">CGI.br</a>).</p>
				<p class="paragraph">
				Agradecimentos à <a href="https://www.keio.ac.jp/">Keio University</a> por receber os pesquisadores Diogo Cortiz e <a href="https://newtoncalegari.com.br/">Newton Calegari</a> no laboratório da <a href="http://www.kmd.keio.ac.jp/">Keio Media Design</a>, em Tóquio, Japão; 
					aos colaboradores dos projetos <a href="http://clappr.io/">Clappr</a> e <a href="https://github.com/thiagopnts/kaleidoscope">Kaleidoscope</a> por contribuírem com ferramentas open source para vídeos na Web; à <a href="http://pucsp.br/">PUC-SP</a> pelo apoio na execução da pesquisa e pelo fornecimento de equipamentos.
				</p>
				<h3 class="title title--size-4 title--color-3 u-bottom">// parceiros</h3>
				<ul class="sponsors-list">
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-ceweb.svg" | prepend: page.baseurl }}" alt="ceweb.br" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-nic.svg" | prepend: page.baseurl }}" alt="nic.br" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-cgi.svg" | prepend: page.baseurl }}" alt="cgi.br" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-puc.png" | prepend: page.baseurl }}" alt="puc-sp" /></li>
					<li class="sponsors-list__item"><img src="{{ "img/logos/logo-kmd.png" | prepend: page.baseurl }}" alt="the university of tokyo" /></li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% include footer.html %}
<!-- END CREDITS -->
