<!-- PLAYER -->
<div id="player" class="player-container jarallax"></div>
{% if page.url == '/' %}
	<script>
	var player = new Clappr.Player({
		source: "{{ "/videos/india/dash/stream.mpd" | prepend: page.baseurl }}",
		plugins: [DashShakaPlayback, Video360],
		parentId: "#player",
	  	width: $('#player').width(),
	  	height: $('#player').height()
	});
	player.getPlugin('click_to_pause').disable();

	</script>
{% else %}
	<script>
	var player = new Clappr.Player({
		source: "{{ page.midia | prepend: page.baseurl }}",
		plugins: [DashShakaPlayback, Video360],
		parentId: "#player",
	  	width: $('#player').width(),
	  	height: $('#player').height()
	});
	player.getPlugin('click_to_pause').disable();
	</script>
{% endif %}
<!-- END PLAYER -->
